/*stili pagina*/
html {font-size:62,5%;}

body {background-color:#ccdae2;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
margin-right: auto;}

/*titoli*/

 h1 {color: #135d82;}

 h2 {color:#20729b;}

 h3 {color: #7ca1b5 ;}

 /*testo*/

 .frase-evidenziata {background-color: #dcecf4;}

 a {color:c165f2;}

 /*margini*/

 .paragrafo-sintesi {box-sizing: border-box;
    border: 2px solid #20729b;
    padding: 12px; margin: 20px; 
border-radius: 5px;}

.paragrafo-sintesi {box-sizing: border-box;
padding: 40px;
background: linear-gradient(90deg,rgba(220,236,244,.1), rgba(165,208,229,.5));}

.contenitore-makeup {box-sizing: border-box;
border: 2px solid white;
padding:12px ;
background-image: url("/Users/giorgiastronati/Desktop/PROGETI HTML/Progetto html-css/images/sfondo-colorato-mk.avif") ;
background-size: cover;
margin: 20px;
border-radius:3px;}